{% extends "base.html" %}
{% block title %}
<title>Post Tags</title>
{% endblock %}
{% block content %}
<h1 class="title">Tags</h1>
<div id="blog-list">
	Here is the list of tags of my posts below. If you want to just follow some particular topics and not all my posts, individual Atom (RSSv1) feeds are linked along with the tag. <br> <br>
  {% if terms %}
      <div id="blog-summary">
      {% for term in terms %}
      <a href="{{ term.permalink }}">#{{ term.name }}</a> ({{ term.pages | length }}) <a href="{{ term.permalink }}atom.xml" target="_blank"> Feed</a> &nbsp;&nbsp; <br>
      {% endfor %}
      </div>
    {% endif %}
</div>
{% endblock content %}
