{% extends "base.html" %}
{% block title %}
<title>Poem Language Tags</title>
{% endblock %}
{% block content %}
<h1 class="title">Tags</h1>
<div id="blog-list">
  <blockquote>
    Here is the list of language tags of my poems. If you want to just follow some particular language and not all my poems, individual Atom (RSSv1) feeds are linked along with the tag.
  </blockquote>
  {% if terms %}
      <div id="blog-summary">
      {% for term in terms %}
          <a href="{{ term.permalink }}">#{{ term.name }}</a> ({{ term.pages | length }}) <a href="{{ term.permalink }}atom.xml" target="_blank"> Atom</a> &nbsp;&nbsp;
      {% endfor %}
      </div>
    {% endif %}
</div>
{% endblock content %}
