/** CSS partially picked up from https://bugswriter.com, https://krolyxon.tildevarsh.in/, perfectsite.neocities.org **/
@font-face {
    font-family: "FreePixel";
    src: url("https://sadhost.neocities.org/fonts/FreePixel.ttf") format("truetype");
}
@font-face {
    font-family: "Hack";
    src: url(../fonts/Hack-Regular.ttf);
}

body{
color:white;
font-family: "Courier New", Courier, monospace;
    background-color:#0d0d0d;
    margin:20px;
    font-size: 200%;
}

p{
    text-align: justify;
}

hr{
    color: white;
    margin-top: 10px;
}

.search-container {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.search-results{
    text-align: left;
    padding: 5px;
}

.search-results li{
    list-style: none;
    border-bottom: 1px dotted black;
    padding: 5px;
}

.search-results li:nth-child(even) {
    background-color: #FAF9F6;
}

pre {
    font-family: "Hack";
    padding: 1%;
    border-radius: 20px;
    overflow: auto;
}
a:link {
    text-decoration: none;
    }
a{
    color: #73f273;
}
a:hover {
    color: white; 
    text-decoration: underline;
}

footer span{
    text-align: center;
    margin-top: 0.5em;
}

header {
    text-align: center;
}
header h1 {
    font-size: 300%;
}

header nav a{
    padding: 0.5em;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
}

header {
    text-align: center;
}

footer {
    text-align: center;    
    margin-top: 5%;
    margin-bottom: 5%;
}

button {
    background-color: #FFFFFF;
}


header h1 span{
    color: #FF72FF;
}

article {
    width: fit-content;
    text-align: center;
    padding: 0.5em;
}

ul { text-align: left; }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

blockquote {
    font-style: italic;
}

#blog ul, #blog ol{
    padding-left: 4%;
    padding-right: 4%;
}

#blog img{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

p:has(> img){
    text-align: center;
}

.pagination {
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 110%;
}

@media (max-width:1000px)  {
    body {
        font-size: 100%;
        padding: 3%;
    }
    #blog img{
        max-width: 80%;
    }
}

@media (max-width:1600px)  {
    body {
        font-size: 110%;
        padding: 1%;
    }
    aside {
        display: none;
    }
}
.caption{
    visibility: hidden;
}
.hackergotchi:hover .caption{
    visibility: visible;
}
.image-container {
	text-align: center;
}

h1, h2, h3 {
	color:#73f273;
	font-family: "FreePixel";
        text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.68);
}
