/** CSS partially picked up from https://bugswriter.com, https://krolyxon.tildevarsh.in/, https://perfectsite.neocities.org **/

/* ------------ Fonts ------------- */
@font-face {
    font-family: "Courier";
    src: url(../fonts/Courier.ttf);
}
@font-face {
    font-family: "Hack";
    src: url(../fonts/Hack-Regular.ttf);
}
@font-face {
    font-family: "Newlimran";
    src: url(../fonts/Newlimran.otf);
}
/* ------------------------------- */


body{
  color:white;
  font-family: Courier, monospace;
  background-color:#0d0d0d;
  margin:20px;
  font-size: 100%;
}


p{
    text-align: justify;
}

hr{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-container {
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

.search-results{
    text-align: left;
    padding: 5px;
}

.search-results li{
    list-style: none;
    border-bottom: 1px dotted black;
    padding: 5px;
}

.search-results li:nth-child(even) {
    background-color: #FAF9F6;
}

pre {
    font-family: "Hack";
    padding: 1%;
    border-radius: 20px;
    overflow: auto;
}

/* -------- Links ---------- */
a:link {
    text-decoration: none;
}
a {
  color: #73f273;
}
a:hover {
    color: white; 
    text-decoration: underline;
}
/* ------------------------ */

footer span{
    text-align: center;
    margin-top: 0.5em;
}

header {
    text-align: center;
}
header h1 {
    font-size: 300%;
}

header nav a{
    padding: 0.5em;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
}

header {
    text-align: center;
}

footer {
    text-align: center;    
    margin-top: 5%;
    margin-bottom: 5%;
}

button {
    background-color: #FFFFFF;
}

article {
    width: fit-content;
    text-align: center;
    padding: 0.5em;
}

ul { text-align: left; }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

blockquote {
    font-style: italic;
}

#blog ul, #blog ol{
    padding-left: 4%;
    padding-right: 4%;
}

#blog img{
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    display: block;
    text-align: justify;
}

.pagination {
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 110%;
}

.hackergotchi:hover .caption{
    visibility: visible;
}

h1, h2, h3 {
	color:#73f273;
	font-family: "Newlimran";
}
