{% extends "base.html" %}

{% block content %}
<article>
  <div>
    <h1 id="blog-title">{{ page.title }}</h1>
    <span>
      <time>
        {% if page.date %}
        <small class="blog-date">{{ page.date }}</small>
        {% endif %}
      </time>
      {% if page.taxonomies %}
      {% for tag in page.taxonomies["tags"] %}
      <a href="/tags/{{ tag }}">#{{ tag }}</a>
      {% endfor %}
      {% endif %}
    </span>
  </div>
  <div id="blog">
    {{ page.content | markdown | safe }}
  </div>
</article>
{% endblock content %}