{% extends "base.html" %}
{% block description %}

{% if section.description %}
    <meta name="description" content="{{ section.description }}">
{% elif page.description %}
    <meta name="description" content="{{ page.description }}">
{% elif page.summary %}
    <meta name="description" content="{{ page.summary }} ... (continued)">
{% elif page.title %}
    <meta name="description" content="Page: {{ page.title }}"/>
{% else %}
    <meta name="description" content="A page on Hemish's website"/>
{% endif %}

{% endblock description %}

{% block content %}
<div>
  <h1 id="blog-title">{{ page.title }}</h1>
  <span>
  {% if page.date %}
  <small class="blog-date">{{ page.date }}</small>
  {% endif %}
  {% if page.taxonomies %}
  {% for tag in page.taxonomies["tags"] %}
      <a href="/tags/{{ tag }}">#{{ tag }}</a>
      {% endfor %}
  {% endif %} 
  </span>
</div>  
<div id="blog">  
  {{ page.content | markdown | safe }}
</div>  
{% if page.extra.fediid %}
{% include 'fedicomments.html' %}
{% elif section.extra.fediid %}
{% include 'fedicomments.html' %}
{% endif %}
{% endblock content %}
