{% extends "base.html" %}
{% block description %}
<meta name="description" content="{{ section.description }}" />
{% endblock description %}
{% block content %}
<h1 class="title">{{ section.title }}</h1>
<div id="blog-list">
  {{ section.extra.posts_describer }} Here is the <a target="_blank"
    href="/posts/atom.xml">Atom (RSSv1) feed</a>. List of {{ section.extra.taxonomy_title }} are available at <a href="/{{ section.extra.taxonomy_title }}">/{{ section.extra.taxonomy_title }}</a>
  {% for page in paginator.pages %}
  <div id="blog-summary" onclick="location.href='{{ page.permalink | safe }}';"">
      <h3><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
      <span><code>{{ page.date }}</code>
        {% for tag in page.taxonomies[section.extra.taxonomy_title] %}
        <a href="/{{ section.extra.taxonomy_title }}/{{ tag }}">#{{ tag }}</a>
        {% endfor %}
      </span>
      {% if page.updated and page.pupdated != page.date %}
      <div><code>Updated at {{ page.updated }}</code></div>
      {% endif %}
      {% if page.description %}
      <br> <br>
      {{ page.description }} <br> <br>
      {% else %}
      {{ page.summary | safe }}
      {% endif %}
  </div>

  {% endfor %}
</div>
<nav class="pagination">
  {% if paginator.previous %}
  <a class="previous" href="{{ paginator.previous }}">‹ Prev</a>
  {% endif %}
  {% if paginator.previous and paginator.next %}
  |
  {% endif %}
  {% if paginator.next %}
  <a class="next" href="{{ paginator.next }}">Next ›</a>
  {% endif %}
</nav>
{% endblock content %}