{% extends "base.html" %}
{% block title %}
<title>#{{ term.name }}</title>
{% endblock %}
{% block content %}
<h1 class="title">#{{ term.name }}</h1>
<div id="blog-list">
  Entries with #{{ term.name }}. Separate <a href="{{ term.permalink }}atom.xml">Atom feed</a> for #{{ term.name }}.
  {% for page in paginator.pages %}
  <div id="blog-summary" onclick="location.href='{{ page.permalink | safe }}';"">
    <h3><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
    <span><code>{{ page.date }}</code>
      {% for tag in page.taxonomies[taxonomy.name] %}
      <a href="/{{ taxonomy.name }}/{{ tag }}">#{{ tag }}</a>
      {% endfor %}
    </span>
    {{ page.summary | safe }}
  </div>
  {% endfor %}
</div>
<nav class="pagination">
  {% if paginator.previous %}
  <a class="previous" href="{{ paginator.previous }}">‹ Prev</a>
  {% endif %}
  {% if paginator.previous and paginator.next %}
  |
  {% endif %}
  {% if paginator.next %}
  <a class="next" href="{{ paginator.next }}">Next ›</a>
  {% endif %}
</nav>
{% endblock content %}