{% extends "page.html" %}
{% block title %}
<title>{{ taxonomy.name | title }}</title>
{% endblock %}
{% block content %}
<h1 class="title">{{ taxonomy.name | title }}</h1>
<div id="blog-list">
	Here is the list of {{ taxonomy.name | title}}s. Individual Atom (RSSv1) feeds are linked along. <br>
  {% if terms %}
      <div id="blog-summary">
      {% for term in terms %}
      <a href="{{ term.permalink }}">#{{ term.name }}</a> ({{ term.pages | length }}) <a href="{{ term.permalink }}atom.xml" target="_blank"> Feed</a> &nbsp;&nbsp; <br>
      {% endfor %}
      </div>
    {% endif %}
</div>
{% endblock content %}